
@{
    ViewBag.Title = "Home Page";
}

<h1>Weather</h1>
<form action="/Home/Update1">
    <label>Unos teksta</label>
    <input type="text" name="city" />
    <button type="submit">Send</button>
</form>
