@model WeatherCommon.Classes.Weather
@{
    ViewBag.Title = "Home Page";
}

<h1>Weather</h1>
@Html.ActionLink("Update", "Index");
<h2>@Model.City</h2>
<h2>@Model.MinTemp</h2>
<h2>@Model.WindSpeed</h2>